In [ ]:
#importing dependencies
import numpy as np
import pandas  as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

Loading and visualising

In [ ]:
crd_data = pd.read_csv('/content/creditcard.csv')

In [ ]:
crd_data.head()
#by using the PCA principal component analysis method they converted the content into numerical data

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0.0
1,0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0.0
2,1,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0.0
3,1,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0.0
4,2,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0.0

Warning: Total number of columns (31) exceeds max_columns (20) limiting to first (20) columns.

In [ ]:
crd_data.shape

(5974, 31)

In [ ]:
crd_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5974 entries, 0 to 5973
Data columns (total 31 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Time    5974 non-null   int64
 1   V1      5974 non-null   float64
 2   V2      5974 non-null   float64
 3   V3      5974 non-null   float64
 4   V4      5974 non-null   float64
 5   V5      5974 non-null   float64
 6   V6      5974 non-null   float64
 7   V7      5974 non-null   float64
 8   V8      5974 non-null   float64
 9   V9      5974 non-null   float64
 10  V10     5974 non-null   float64
 11  V11     5974 non-null   float64
 12  V12     5974 non-null   float64
 13  V13     5974 non-null   float64
 14  V14     5974 non-null   float64
 15  V15     5974 non-null   float64
 16  V16     5974 non-null   float64
 17  V17     5974 non-null   float64
 18  V18     5973 non-null   float64
 19  V19     5973 non-null   float64
 20  V20     5973 non-null   float64
 21  V21     5973 non-null   float64
 22  V22     5973 non-null   float64
 23  V23     5973 non-null   float64
 24  V24     5973 non-null   float64
 25  V25     5973 non-null   float64
 26  V26     5973 non-null   float64
 27  V27     5973 non-null   float64
 28  V28     5973 non-null   float64
 29  Amount  5973 non-null   float64
 30  Class   5973 non-null   float64
dtypes: float64(30), int64(1)
memory usage: 1.4 MB

In [ ]:
crd_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       1
V19       1
V20       1
V21       1
V22       1
V23       1
V24       1
V25       1
V26       1
V27       1
V28       1
Amount    1
Class     1
dtype: int64

In [ ]:
#here i filled the null values with median values if it wont work drop those rows
crd_data['Amount'].fillna(crd_data['Amount'].median(), inplace = True) #replacing null values
crd_data['V18'].fillna(crd_data['V18'].median(), inplace = True)
crd_data['V19'].fillna(crd_data['V19'].median(), inplace = True)
crd_data['V20'].fillna(crd_data['V20'].median(), inplace = True)
crd_data['V21'].fillna(crd_data['V21'].median(), inplace = True)
crd_data['V22'].fillna(crd_data['V22'].median(), inplace = True)
crd_data['V23'].fillna(crd_data['V23'].median(), inplace = True)
crd_data['V24'].fillna(crd_data['V24'].median(), inplace = True)
crd_data['V25'].fillna(crd_data['V25'].median(), inplace = True)
crd_data['V26'].fillna(crd_data['V26'].median(), inplace = True)
crd_data['V27'].fillna(crd_data['V27'].median(), inplace = True)
crd_data['V28'].fillna(crd_data['V28'].median(), inplace = True)

In [ ]:
crd_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     1
dtype: int64

In [ ]:
# distribution of legit transactions & fraudulent transaction
crd_data['Class'].value_counts() #its too unbalanced

0.0    5970
1.0       3
Name: Class, dtype: int64

Separating the data for analysis

In [ ]:
legit = crd_data[crd_data.Class == 0]
fraud = crd_data[crd_data.Class == 1]

In [ ]:
print(legit)
print(fraud)

      Time        V1        V2        V3        V4        V5        V6  \
0        0 -1.359807 -0.072781  2.536347  1.378155 -0.338321  0.462388
1        0  1.191857  0.266151  0.166480  0.448154  0.060018 -0.082361
2        1 -1.358354 -1.340163  1.773209  0.379780 -0.503198  1.800499
3        1 -0.966272 -0.185226  1.792993 -0.863291 -0.010309  1.247203
4        2 -1.158233  0.877737  1.548718  0.403034 -0.407193  0.095921
...    ...       ...       ...       ...       ...       ...       ...
5968  6633  1.197756  0.553352  0.866976  1.432084 -0.454121 -1.127419
5969  6634 -1.611463  0.190648  0.901715  1.531254 -1.535865  0.799245
5970  6635 -1.420272  1.449354  1.320110 -1.894320  0.913695  0.454601
5971  6637 -1.206696  0.284728  2.152053 -2.850437 -0.437285 -0.238376
5972  6644  1.067611  0.091006 -0.153917  0.704233  0.113894 -0.826866

            V7        V8        V9  ...       V21       V22       V23  \
0     0.239599  0.098698  0.363787  ... -0.018307  0.277838 -0.110474
1    -0.078803  0.085102 -0.255425  ... -0.225775 -0.638672  0.101288
2     0.791461  0.247676 -1.514654  ...  0.247998  0.771679  0.909412
3     0.237609  0.377436 -1.387024  ... -0.108300  0.005274 -0.190321
4     0.592941 -0.270533  0.817739  ... -0.009431  0.798278 -0.137458
...        ...       ...       ...  ...       ...       ...       ...
5968  0.115799 -0.375933  1.110818  ... -0.154257 -0.111427  0.041743
5969  1.513786  0.495829  0.200390  ...  0.211223  0.007477  1.026272
5970  0.894179 -0.385450  2.433841  ... -0.529027 -0.368394 -0.247773
5971 -0.333341  0.334679  2.870542  ...  0.039460  0.464476 -0.457193
5972  0.567690 -0.464181  0.957295  ... -0.476723 -1.410090 -0.037550

           V24       V25       V26       V27       V28  Amount  Class
0     0.066928  0.128539 -0.189115  0.133558 -0.021053  149.62    0.0
1    -0.339846  0.167170  0.125895 -0.008983  0.014724    2.69    0.0
2    -0.689281 -0.327642 -0.139097 -0.055353 -0.059752  378.66    0.0
3    -1.175575  0.647376 -0.221929  0.062723  0.061458  123.50    0.0
4     0.141267 -0.206010  0.502292  0.219422  0.215153   69.99    0.0
...        ...       ...       ...       ...       ...     ...    ...
5968  0.872993  0.490391 -0.514364  0.004637  0.027420    5.00    0.0
5969  0.057628 -0.024955 -0.368263  0.081684  0.140669  458.92    0.0
5970 -1.189156 -0.126040  0.701487  0.277333 -0.222694    0.77    0.0
5971 -0.556105  0.517579  0.008006  0.366054  0.185008   14.00    0.0
5972 -0.177773  0.321810  0.114930 -0.109640  0.023205  139.90    0.0

[5970 rows x 31 columns]
      Time        V1        V2        V3        V4        V5        V6  \
541    406 -2.312227  1.951992 -1.609851  3.997906 -0.522188 -1.426545
623    472 -3.043541 -3.157307  1.088463  2.288644  1.359805 -1.064823
4920  4462 -2.303350  1.759247 -0.359745  2.330243 -0.821628 -0.075788

            V7        V8        V9  ...       V21       V22       V23  \
541  -2.537387  1.391657 -2.770089  ...  0.517232 -0.035049 -0.465211
623   0.325574 -0.067794 -0.270953  ...  0.661696  0.435477  1.375966
4920  0.562320 -0.399147 -0.238253  ... -0.294166 -0.932391  0.172726

           V24       V25       V26       V27       V28  Amount  Class
541   0.320198  0.044519  0.177840  0.261145 -0.143276    0.00    1.0
623  -0.293803  0.279798 -0.145362 -0.252773  0.035764  529.00    1.0
4920 -0.087330 -0.156114 -0.542628  0.039566 -0.153029  239.93    1.0

[3 rows x 31 columns]

In [ ]:
#statistical information of legit data
legit.Amount.describe()

count    5970.000000
mean       64.965707
std       192.429839
min         0.000000
25%         4.450000
50%        15.620000
75%        56.485000
max      7712.430000
Name: Amount, dtype: float64

In [ ]:
fraud.Amount.describe()

count      3.000000
mean     256.310000
std      264.880121
min        0.000000
25%      119.965000
50%      239.930000
75%      384.465000
max      529.000000
Name: Amount, dtype: float64

In [ ]:
#compare the values for both transactions
crd_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0.0,2677.40201,-0.264965,0.285625,0.844580,0.102656,0.000958,0.195420,0.018542,-0.039195,0.397472,...,0.055426,-0.043268,-0.161540,-0.036683,0.028985,0.089890,-0.040132,0.025238,0.006163,64.965707
1.0,1780.00000,-2.553039,0.184644,-0.293711,2.872264,0.005330,-0.855718,-0.549831,0.308239,-1.093098,...,0.599742,0.294921,-0.177321,0.361160,-0.020311,0.056068,-0.170050,0.015979,-0.086847,256.310000